@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .wrapper {
        justify-content: center;
        align-items: center;
        background-image: url(../img/2024-12-31.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@layer components {
    .count-container {
        @apply max-w-sm bg-neutral-900 rounded-lg shadow-sm lg:w-40 lg:min-h-40;
    }

    .count-description {
        @apply relative font-semibold top-0 left-0 right-0 text-center text-base sm:text-xl w-full overflow-hidden rounded-t-lg bg-neutral-700 text-neutral-100 p-2;
    }

    .count-number {
        @apply text-white font-bold text-2xl sm:text-6xl lg:text-8xl leading-none tracking-tight p-7;
    }
}